ul{
    background-color:gray;
    margin:0px ;
    padding-right: 50px;
    list-style-type: none;
    overflow: hidden;
    
}

li{
    float:left;
    padding-right: 50px;
    
}
.calendar{
    width: 1910px;
    height: 860px;
    border-color: darkgreen;
}