h1{

    color: red;
}
body{
    background-color: aquamarine;
}
*{
    margin: 0;
    padding: 0;
}
ul{
    background-color:gray;
    margin:0px ;
    padding-right: 50px;
    list-style-type: none;
    overflow: hidden;
    
}

li{
    float:left;
    padding-right: 50px;
    
}
a{
    color: pink;
}
.row::after{
content: "";
clear: both;
display: table;
}
